# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

# Gradle & Android Build Files
.gradle/
build/
app/build/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Temporary / Scratch files
scratch/
*.tmp
*.temp
